In [4]:
import pandas as pd
import os
import hashlib
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [5]:
file_path="~/SageMaker/Rain_Estimation_Using_Loosely_Matched_Stations/Gauges_20110609_20110813.csv"

In [6]:
df = pd.read_csv(file_path, sep=",", index_col=False)

In [7]:
df[df.RH=="-1"]="0"
df.drop(df[df.RH==" "].index,inplace=True)

In [9]:
stations=df.STN.unique()
stations = stations[stations != "0"]
len(stations)

32

In [ ]:
def convert_datetime_to_time(date,time):
    yyyy=date[:4]
    mm=date[4:6]
    dd=date[6:8]
    hh=f"0{time}" if str(time)==1 else f"{time}""
    ss="00"    
    return(f"{dd}/{mm}/{yyyy} {hh}:{ss}")

In [ ]:
for station in stations:

In [47]:
df[df.STN==210]

      STN  YYYYMMDD   H RH
1584  210  20110609   1  0
1585  210  20110609   2  0
1586  210  20110609   3  0
1587  210  20110609   4  0
1588  210  20110609   5  0
...   ...       ...  .. ..
3163  210  20110813  20  0
3164  210  20110813  21  0
3165  210  20110813  22  0
3166  210  20110813  23  0
3167  210  20110813  24  0

[1401 rows x 4 columns]