In [350]:
import pandas as pd
import os
import hashlib
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
!pip3 install pyproj
from pyproj import Proj, transform
inProj = Proj(init='epsg:28992')
outProj = Proj(init='epsg:4326')

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Requirement already satisfied: pyproj in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (3.4.1)
Requirement already satisfied: certifi in /home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages (from pyproj) (2021.10.8)
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.

/home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [351]:
data_file_path="~/SageMaker/Rain_Estimation_Using_Loosely_Matched_Stations/Gauges_20110609_20110813.csv"
metadata_file_path = "~/SageMaker/Rain_Estimation_Using_Loosely_Matched_Stations/dutch_gauge_coo.csv"

In [352]:
df = pd.read_csv(data_file_path, sep=",", index_col=False)
metadata_df  = pd.read_csv(metadata_file_path, sep=",", index_col=False)

In [353]:
df.drop(df[df.RH=="-1"].index, inplace=True)
df.drop(df[df.RH==" "].index,inplace=True)

In [356]:
stations=df.STN.unique()
len(stations)

32

In [357]:
df.STN.unique()

array([210, 235, 240, 249, 251, 257, 260, 267, 269, 270, 273, 275, 277,
       278, 279, 280, 283, 286, 290, 310, 319, 323, 330, 344, 348, 350,
       356, 370, 375, 377, 380, 391])

In [358]:
df.to_csv("~/SageMaker/Rain_Estimation_Using_Loosely_Matched_Stations/Gauges_20110609_20110813_temp.csv")

In [359]:
stations

array([210, 235, 240, 249, 251, 257, 260, 267, 269, 270, 273, 275, 277,
       278, 279, 280, 283, 286, 290, 310, 319, 323, 330, 344, 348, 350,
       356, 370, 375, 377, 380, 391])

In [360]:
def convert_from_dutch_coo_to_longitude_latitude(x1,y1):
    return transform(inProj,outProj,x1*1000,y1*1000)

In [361]:
metadata_df=metadata_df.join(metadata_df.apply(lambda x: pd.Series({"long": convert_from_dutch_coo_to_longitude_latitude(x.POS_X, x.POS_Y)[0],
                                       "lat": convert_from_dutch_coo_to_longitude_latitude(x.POS_X, x.POS_Y)[1]}), axis=1))

/tmp/ipykernel_18831/1893588703.py:2: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  return transform(inProj,outProj,x1*1000,y1*1000)

In [362]:
metadata_df.head()

,STN,STARTT,STOPT,LOCATIE,HOOGTE,POS_X,POS_Y,POS_NB,POS_OL,long,lat
0,201,20090313,99991231,platform D15-FA-1,42.7,-4.5,707.1,54.3,2.9,2.936152,54.323898
1,203,20091109,99991231,platform P11-B,41.8,15.7,487.6,52.4,3.3,3.342154,52.358603
2,204,20061206,99991231,platform K14-FA-1C,41.8,37.6,588.3,53.3,3.6,3.627506,53.268329
3,205,20090313,99991231,platform A12-CPP,48.4,55.0,825.1,55.4,3.8,3.809936,55.397968
4,206,20061206,99991231,platform F16-A,43.4,65.1,682.0,54.1,4.0,4.012695,54.115259

In [363]:
def convert_date(date):
    yyyy=date[:4]
    mm=date[4:6]
    dd=date[6:8]
    return f"{yyyy}-{mm}-{dd}"

def convert_time(time):
    if time=="24":
        hh="00"
    else:
        hh=f"0{time}" if len(time)==1 else f"{time}"
    
    mm="00"
    
    return f"{hh}:{mm}"

In [364]:
stations

array([210, 235, 240, 249, 251, 257, 260, 267, 269, 270, 273, 275, 277,
       278, 279, 280, 283, 286, 290, 310, 319, 323, 330, 344, 348, 350,
       356, 370, 375, 377, 380, 391])

In [365]:
df["Time"]=df["YYYYMMDD"].astype(str).apply(convert_date)+" "+df["H"].astype(str).apply(convert_time)
df.RH=df.RH.astype(int)//10
df.rename(columns={"RH": "RainAmout[mm/h]"}, inplace=True)

In [366]:
# for station in stations:
#     df[df.STN==station].apply(lambda x: pd.Series({"Time":convert_datetime_to_time(x.YYYYMMDD,x.H)}
df

       STN  YYYYMMDD   H  RainAmout[mm/h]              Time
1584   210  20110609   1                0  2011-06-09 01:00
1585   210  20110609   2                0  2011-06-09 02:00
1586   210  20110609   3                0  2011-06-09 03:00
1587   210  20110609   4                0  2011-06-09 04:00
1588   210  20110609   5                0  2011-06-09 05:00
...    ...       ...  ..              ...               ...
76026  391  20110813  19                0  2011-08-13 19:00
76028  391  20110813  21                0  2011-08-13 21:00
76029  391  20110813  22                0  2011-08-13 22:00
76030  391  20110813  23                0  2011-08-13 23:00
76031  391  20110813  24                0  2011-08-13 00:00

[45485 rows x 5 columns]

In [376]:

def fix_time_representation_for_15_min(datetime):
    date,time = datetime.split(' ')
    yyyy,MM,dd = date.split('-')
    hh:mm = time.split(':')
    
    if counter%4==0:
        mm="00"
    elif counter%4==1:
        mm="15"
    elif counter%4==2:
        mm="30"
    elif counter %4==3:
        mm="45"
    
    counter+=1
        
    return f"{dd}-{MM}-{yyyy} {hh}:{mm}"

In [377]:
columns=["Time","RainAmout[mm/h]"]
root="~/SageMaker/Rain_Estimation_Using_Loosely_Matched_Stations/CellEnMon/datasets/ims/09062011_13082011/raw"
for station in stations[:2]:
    d=df[df.STN==station]
    try:
        long=metadata_df[metadata_df.STN==station].long.iloc[0]
        lat=metadata_df[metadata_df.STN==station].lat.iloc[0]
        d = d.reset_index()
        d.index = pd.to_datetime(d.index, unit="h", origin=pd.Timestamp(d.Time.iloc[0]))
        d=d.resample("15T").ffill()
        counter=0
        d.Time.apply(lambda x: pd.Series({"Time":fix_time_representation_for_15_min(x)}))
        d.to_csv(f'{root}/{d.STN.iloc[0]}_{long:.3f}_{lat:.3f}.csv', index=False, columns=columns)
    except IndexError:
        print(f"This station does not exist:{station}")

This station does not exist:210